@model BoxR.Web.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<section class="centersection">
    <table>
        <tr>
            <td>
                <div class="logincred">
                    <h1>BoxR</h1>
                    <h2>Registration</h2>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <table>
                            <tr>
                                <td>@Html.LabelFor(m => m.UserName)</td>
                                <td> @Html.TextBoxFor(m => m.UserName, new {@class = "username"})</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(m => m.Password)</td>
                                <td>@Html.PasswordFor(m => m.Password, new {@class = "password"})</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                                <td>@Html.PasswordFor(m => m.ConfirmPassword, new {@class = "password"})</td>
                            </tr>
                            <tr>
                                <td>@Html.ActionLink("Back to login", "Login", null, new {@class = "btn"})</td>
                                <td><input type="submit" value="Register" class="btn"/></td>
                            </tr>
                        </table>
                        <div>
                            @Html.ValidationSummary(true)
                        </div>
                    }
                </div>
            </td>
        </tr>
    </table>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/login")
}