@model BoxR.Models.LoginModel

@{
    ViewBag.Title = "Bejelentkezés";
}

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <td>
                <div class="logincred">
                    <h1>BoxR</h1>
                    <table>
                        <tr>
                            <td>@Html.LabelFor(m => m.UserName)</td>
                            <td> @Html.TextBoxFor(m => m.UserName,new{@class="username"})</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.Password)</td>
                            <td>@Html.PasswordFor(m => m.Password,new{@class="password"})</td>
                        </tr>
                    </table>
                </div>
                <div>
                    @Html.ValidationSummary(true)
                </div>
            </td>
        </tr>
    </table>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/login")
}